body.dark{

    background:#212121;

    color:#9eaae6;

}



body.dark .navbar{

    background:#242222;

}



body.dark .navbar a{

    color:white;

}



body.dark .card{

    background:#0b0a0a;

    color:white;

}



body.dark .research{

    background:#3d0202;

}



body.dark h1,
body.dark h2,
body.dark h3{

    color:#79b1b4;

}



body.dark footer{

    background:#6220b8;

}

/* =====================================
   Sidebar Dark Mode
===================================== */

body.dark .sidebar{

    background:#1b1b1b;

    border-right:1px solid #9f4d4d;

}

body.dark .profile-photo{

    border:5px solid #66b3ff;

}

body.dark .sidebar h2{

    color:white;

}

body.dark .position{

    color:#cccccc;

}

body.dark .social-links a{

    color:#e6e6e6;

}

body.dark .social-links a:hover{

    color:#66b3ff;

}

body.dark .main-content{

    background:#201f1f;

}

body.dark .main-content h1{

    color:#66b3ff;

}

body.dark .main-content h3{

    color:#809565;

}

body.dark .main-content p{

    color:#f0f0f0;

}

body.dark #visitor-map-section{

    background:#171515;

}

body.dark #visitor-map-section h2{

    color:#81adda;

}

body.dark #visitor-map-section p{

    color:#d23636;

}

body.dark footer{

    background:#000;

}

body.dark .degree{

    color:#8db51f;

}